.DS_Store
/node_modules/
*.tsbuildinfo
.env

# React Router
/.react-router/
/build/
/server-build/

# Yarn
.yarn/*
.yarn/cache/*-darwin-arm64-npm-*
.yarn/cache/*-linux-x64-npm-*
.yarn/cache/*-linux-x64-gnu-npm-*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions