@import "tailwindcss";

@theme {
  --color-primary: #E30613;
  --color-secondary: #313134;
}

@custom-variant touch {

  @media (any-hover: none),
  (pointer: coarse) {
    @slot;
  }
}

@custom-variant mouse {
  @media (hover: hover) {
    @slot;
  }
}

.app-container {
  @apply container mx-auto p-5;
  max-width: 1240px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  @apply list-disc leading-[165%];

  & li {
    @apply leading-normal -mb-8 ml-5;
  }
}

@import './typography.css';