@import "tailwindcss";

@theme {
  --color-primary: #E30613;
  --color-secondary: #31313414;
}

.app-container {
  @apply container mx-auto p-5;
  max-width: 1240px !important;
}

@import './typography.css';