@theme {
    --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
}

@layer base {
    :root {
        --font-sans: 'Saira Condensed';

        /* Font weight variables are defined here instead of @theme to 
      prevent Tailwind from generating utility classes for these values. */
        --font-weight-heavy: 900;
        --font-weight-bold: 700;
        --font-weight-semi-bold: 600;
        --font-weight-medium: 500;
        --font-weight-regular: 400;
        --font-weight-light: 300;
    }
}

@utility typo-headline-xl {
    font-weight: var(--font-weight-bold);
    font-size: 3.375rem;
    line-height: 1;
    letter-spacing: normal;
}

@utility typo-headline-lg {
    font-weight: var(--font-weight-bold);
    font-size: 2.8125rem;
    line-height: 1;
    letter-spacing: 0.15625rem;
}

@utility typo-headline-md-lg {
    font-weight: var(--font-weight-bold);
    font-size: 2.1875rem;
    line-height: 2.5rem;
    letter-spacing: 0.109375rem;
}

@utility typo-headline-md {
    font-weight: var(--font-weight-bold);
    font-size: 1.625rem;
    line-height: 1;
    letter-spacing: normal;
}

@utility typo-headline-sm {
    font-weight: var(--font-weight-bold);
    font-size: 1.4375rem;
    line-height: 1;
    letter-spacing: 0.071875rem;
}

@utility typo-headline-xs {
    font-weight: var(--font-weight-bold);
    font-size: 0.9375rem;
    line-height: 1;
    letter-spacing: 0.046875;
}

@utility typo-display-md {
    font-weight: var(--font-weight-regular);
    font-size: 1.4375rem;
    line-height: 135%;
    letter-spacing: 0.071875rem;
}

@utility typo-display-sm {
    font-weight: var(--font-weight-regular);
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: normal;
}

@utility typo-display-xs {
    font-weight: var(--font-weight-light);
    font-size: 0.84375rem;
    line-height: 1;
    letter-spacing: normal;
}