@import "tailwindcss";

@theme {
    --color-primary: #282c34;
    --color-uht-gray: #282c34;
    --color-uht-red: '#ff69b4';
}

@custom-variant touch {

    @media (any-hover: none),
    (pointer: coarse) {
        @slot;
    }
}

@custom-variant mouse {
    @media (hover: hover) {
        @slot;
    }
}

@utility app-container {
    @apply container mx-auto p-5;
}

@import './typography.css';
@import './animations.css';