@import "tailwindcss";

@theme {
    --color-primary: #282c34;
    --color-secondary: #94969a;
    --color-uht-red: #ff69b4;
}

@custom-variant touch {

    @media (any-hover: none),
    (pointer: coarse) {
        @slot;
    }
}

@custom-variant mouse {
    @media (hover: hover) {
        @slot;
    }
}

@utility app-container {
    @apply container mx-auto p-5;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.a-markdown>p>a {
    @apply text-uht-red;
    font-weight: 600;
}

@import './typography.css';
@import './animations.css';