@theme {
    --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
}

@layer base {
    :root {
        --font-sans: 'Quicksand';

        /* Font weight variables are defined here instead of @theme to 
      prevent Tailwind from generating utility classes for these values. */
        --font-weight-bold: 700;
        --font-weight-semi-bold: 600;
        --font-weight-medium: 500;
        --font-weight-regular: 400;
        --font-weight-light: 300;
    }
}

@utility typo-xl {
    @apply md:text-[2.5rem] md:leading-[3.4375rem];
    font-size: 1.625rem;
    line-height: 2.5rem;
}

@utility typo-lg {
    @apply md:text-[1.875rem] md:leading-[2.625rem];
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@utility typo-md {
    @apply md:text-[1.25rem] md:leading-[1.875rem];
    font-size: 1.0625rem;
    line-height: 1.5625rem;
}

@utility typo-sm {
    @apply md:text-[1.125rem] md:leading-[1.5625rem];
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

@utility typo-xs {
    @apply md:text-[0.875rem] md:leading-[1.4375rem];
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

@utility typo-xxs {
    @apply md:text-[0.75rem] md:leading-[1rem];
    font-size: 0.625rem;
    line-height: 0.9375rem;
}